In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"D:\SQL\csv_files_python\3_top5_in-demand_skills.csv")

In [5]:
df

     skills  demand_count
0       sql         92628
1     excel         67031
2    python         57326
3   tableau         46554
4  power bi         39468